venv
.env
.idea/
.vs/
.vscode/
MyApp_backup.txt
__pycache__/
moje_readme.txt
training/
database.db
automation.py
venvwin
venvlin
buildozer.spec
tests
exclusions/
data/icons8.com.txt
bin/
.buildozer/
data/download/
